<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mastercard.mcbp_android">

    <application
        android:allowBackup="false">

        <service android:name="com.comviva.hceservice.digitizationApi.ActiveAccountManagementService" />
    </application>

</manifest>
