<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mastercard.mcbp_android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:allowBackup="false">
        <activity
            android:name="com.comviva.hceservice.common.CdCvmActivity"
            android:theme="@android:style/Theme.Translucent">
        </activity>

        <service android:name="com.comviva.hceservice.digitizationApi.ActiveAccountManagementService"
            android:enabled="true"
            android:exported="false"
            android:permission="signature">
            <intent-filter>
                <action android:name="com.visa.cbp.action.REPLENISH"/>
            </intent-filter>
        </service>
        <service
            android:name="com.visa.cbp.sdk.facade.activeaccountmanagement.ReplenishmentCheckService"
            android:enabled="true"
            android:exported="false"
            android:permission="signatureOnly" >
        </service>

        <receiver
            android:name="com.visa.cbp.sdk.facade.broadcastreceiver.DeviceBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
